* {box-sizing: border-box;}
:root { --height-img: calc(100vh - 13rem)}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;  }
img { height: var(--height-img); width: 30%; margin: 0 0.5rem; }

main {
    height: var(--height-img);
    padding: 6rem 0 ;
}
.flex_imgs {
display: flex;
flex-direction: row; 
/* justify-content: center; */
}

@media screen and (max-width:700px) {
  .flex_imgs {
    flex-direction: column !important; 
    }

    img { width: 95%; }

}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin:  auto;

}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: inline-block;
  transition: #bbb 0.2s ease;
}

.active {
  background-color: #717171;
}


/* Fading animation*/

 .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

footer {
    height: 4vh;
    width: 100vw;
    display: block;
    z-index: 1;
    position: absolute;
    bottom: 0 ;
    margin-top: 20px;
}



/* @media screen  and (max-width: 700px ){

footer {
bottom: calc( - var(--height-img) * 3) !important
}
} */

.app__footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 1;
    position: relative;
    bottom: 0;
    margin: auto;
}



.app__footer  li {
  margin: 0 1rem;
  cursor: pointer;

  flex-direction: column;
}


.app__footer a {
          text-decoration: none;
          color: var(--secondary-color);
          
          text-transform: uppercase;
          font-weight: 600;
  
          transition: all 0.2s ease-in-out;
  
          }

          .app__footer a:hover {
                      color: var(--primary-color)
                  }
    


.follow {
    flex-direction: row !important;
    gap: 10px;
}





@media screen and (max-width: 700px) {
  .afterSlides {
    display: none;
  }
}



.qodef-e-content {
  background-color: black;
  
  width: 18%;
  height: 6rem ;
  position: absolute;
  margin: auto;
  padding: 1rem calc(18%/4);
  text-align: justify;
  bottom: 33px;
  z-index: 1;
}

.qodef-e-content a {

text-decoration: none;
color: var(--primary-color);
}